"*":
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "“”"
      "‘’"
      "«»"
      "‹›"
    ]
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: [
      "lisp-paredit"
    ]
    telemetryConsent: "limited"
  "cursor-history": {}
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 15
    invisibles: {}
    nonWordCharacters: "()\"',;~@#$%^&{}[]`."
    tabLength: 1
  "exception-reporting":
    userId: "e8922014-8094-c06b-1359-db2ec716cbc0"
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "let"
      "are"
      "/^def.*/"
      "fn"
      "cond"
      "if"
      "if-let"
      "for"
      "/when.*/"
      "testing"
      "doseq"
      "dotimes"
      "loop"
      "ns"
    ]
    strict: false
  navigate:
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
  "proto-repl": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view": {}
  "vim-mode-plus":
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    autoIndent: false
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
".console.serpent.text":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
".fish.source":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
".regexp.serpent.source":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 4
".serpent.source":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 4
".serpent.text.traceback":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
".solidity.source":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
".source.ts":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
".source.tsx":
  editor:
    nonWordCharacters: "()\"',;~@#$%^&{}[]`"
    tabLength: 1
