"*":
  "exception-reporting":
    userId: "1adfac22-4a00-fb5b-f775-976cdc7ccef0"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "seti-monokai"
    ]
    disabledPackages: [
      "go-to-line"
      "linter-clojure"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    backUpBeforeSaving: true
    preferredLineLength: 100
    fontSize: 13
  "vim-mode":
    useClipboardAsDefaultRegister: true
  linter:
    errorPanelHeight: 22
    ignoreMatchedFiles: "project.clj"
  "git-diff":
    showIconsInEditorGutter: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  "git-projects":
    rootPath: "/home/tom/git"
  "linter-clojure":
    clojureExecutablePath: "/usr/share/clojure/clojure.jar"
    javaExecutablePath: "/usr/bin/java"
  "linter-htmlhint": {}
  "git-history": {}
