'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ']': 'cursor-history:next-within-editor'
  '[': 'cursor-history:prev-within-editor'
  'ctrl-]': 'cursor-history:next'
  'ctrl-[': 'cursor-history:prev'
  'f': 'find-and-replace:show'
  'U': 'core:redo'
  'ctrl-c': 'unset!'
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor.vim-mode-plus.autocomplete-active':
  'enter': 'editor:newline'

'atom-text-editor[data-grammar~="clojure"]':
  'enter' : 'lisp-paredit:newline'

'atom-text-editor[data-grammar~="clojure"].vim-mode-plus:not(.insert-mode)':
  'm': 'lisp-paredit:expand-selection'
