'.editor[data-grammar="source clojure"]:not(.autocomplete-active):not(.insert-mode)':
  '[': 'paredit:backwardSexp'
  ']': 'paredit:forwardSexp'
  '{': 'vim-mode:move-to-previous-paragraph'
  '}': 'vim-mode:move-to-next-paragraph'

'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-f': 'unset!'
  'ctrl-e': 'expose:toggle'
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'

'.platform-linux':
  'ctrl-p': 'command-palette:toggle'
